.mb-container {
    width: 1350px;
    height: 1000px;
    margin: auto;
    background-image: url(./images/Home.jpg);
}
.mb-search{
    
        font-size: 28px;
        color: #303030;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 400;
        line-height: normal;
    
        line-height: 66px;
    }
   